
<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>ebay.fr</title>
</head>

<body>
  <a href="http://www.ebay.fr" class="main-title">
    ebay.fr
  </a>

  <div id="content">

  <h2>Classifieds Count</h2>

    <table border="1" bordercolor="#000066" style="background-color:#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
	<th>
		<td>Category</td>
		<td>URL</td>
		<td>Count</td>
	</th>
	{{rows}}
    </table>

  </div>
</body>

</html>
